{% extends "base.html" %}

{% block title %}Framework{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Framework</h1>
</div>
<div>
    <p>
        Lorem ipsum dolor sit amet, vim populo denique ea, purto decore noluisse ea est. Mea te porro diceret scriptorem, partem conceptam mediocritatem eu vix. Nusquam suscipiantur quo ei, solet decore quaeque te vim, ut nulla disputando his. Ut pri summo paulo vocibus, alterum molestie et mel. Repudiare tincidunt nec at, te facer putant feugait has.

        In duo iudicabit democritum appellantur, justo prompta labores cu nec. Pro ea veniam convenire assueverit, dicat adipisci eum ei. Mazim graecis legendos pri ea, putant invenire neglegentur id pri. In vidit dolorum mea. Mea no prima bonorum officiis.

        Est feugiat voluptatum no. Est alii gubergren ne. Ut eos equidem insolens constituto, mundi essent albucius et ius. Vix facete fabellas eu, vel te epicurei assueverit.

        Mea ridens efficiendi efficiantur in, ad saperet abhorreant eos. Pro esse fuisset legendos ad, in sea labitur evertitur. Nec case principes ea, ea vix illud congue, his quis maluisset ut. Eu qui duis nonumes molestiae. Viderer albucius vis ut, latine delectus efficiendi pri ea. Nostro voluptatum nec id, sed illum nullam dictas te. Utamur ancillae erroribus est id, sumo conceptam consectetuer mea et.

        Ad equidem maiestatis nam, sit at movet exerci. An primis dignissim has. Copiosae gubergren eu quo, ea delicata pericula duo, sed cu liber dolores. In vel suscipit expetendis, ne ius vidit ludus feugait. Ut dictas oportere duo, eam te causae conclusionemque, duo eu explicari voluptatum.
    </p>
</div>

{% endblock %}
