{% extends "bootstrap/base.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/base.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/offcanvas.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/sticky-footer-navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base/font-awesome-4.6.3/css/font-awesome.min.css') }}">

{% endblock %}


{% block title %}Framework{% endblock %}


<!-- Navbar -->
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Framework {% block navtitle %}{% endblock %}</a>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid" id="wrapper">

    {% block top %}
    {% endblock %}

    <div class="row row-offcanvas row-offcanvas-right" id="middle">

        <!-- Navigation -->
        <div class="col-xs-4 col-sm-3 sidebar-offcanvas">
            {% include 'navigation.html' %}
        </div>


        <!-- Content -->
        <div class="col-xs-12 col-sm-9">

            <!--p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                </button>
            </p-->

            <div class="row">
                {% block page_content %}{% endblock %}
            </div>

        </div>

    </div>

</div>

<!--footer class="footer" id="bottom">
    <div class="container">
        <p>Hello world</p>
    </div>
</footer-->
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='base/base.js') }}"></script>
    <script src="{{ url_for('static', filename='base/offcanvas.js') }}"></script>
{% endblock %}