{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block navtitle %}{{ header }}{% endblock %}

{% block top %}
<div id="top">
    <a href="/{{ header.lower() }}/new" class="btn btn-primary pull-right" role="button">new</a>
</div>
{% endblock %}

{% block page_content %}

{% for item in items %}
    <div class="panel panel-default">

      <div class="panel-heading">
        <a href="/{{ header.lower() }}/edit/{{ item.id }}" class="btn-block">
          <h3 class="panel-title">{{ item.title() }}</h3>
        </a>
      </div>

      <div class="panel-body">
        {{ item.description() }}
      </div>
    </div>
{% else %}
  <div><h3>No {{ header.lower() }} found</h3></div>
{% endfor %}

{% endblock %}
