<!--div class="user-icon">
    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
</div-->

<ul class="nav nav-pills nav-stacked">
    <li role="presentation" id="nav-Dashboard"><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a></li>
    <li role="presentation" id="nav-contacts"><a href="/contacts"><i class="fa fa-users" aria-hidden="true"></i> Contacts</a></li>
    <li role="presentation" id="nav-Profile"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
    <li role="presentation" id="nav-Inbox"><a href="#"><i class="fa fa-inbox" aria-hidden="true"></i> Inbox</a></li>
    <li role="presentation" id="nav-Users"><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
    <li role="presentation" id="nav-Setup"><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Setup</a></li>
</ul>