{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}APeck WebDev{% endblock %}

{% block page_content %}

<h3>
  <p class="label label-success">{{ project.projectStatus.status }}</p>
  <a href="/project/{{ project.id }}/edit" class="btn btn-primary pull-right" role="button">edit</a>
</h3>


<div class="page-header">
    <h1>
      Project {{ project.name }}
    </h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#general">General</a></li>
  <li><a data-toggle="tab" href="#tasks">Tasks</a></li>
  <li><a data-toggle="tab" href="#budget">Budget</a></li>
</ul>

<div class="tab-content">

  <!-- General -->
  <div id="general" class="tab-pane fade in active">
  </br>
    <p>{{ project.description }}</p>
  </div>

  <!-- Tasks -->
  <div id="tasks" class="tab-pane fade">
  </br>
    <p>{{ project.taskInfo }}</p>
  </div>

  <!-- Budget -->
  <div id="budget" class="tab-pane fade">
  </br>
    <p>{{ project.budgetInfo }}</p>
  </div>
</div>

{% endblock %}
