{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}APeck WebDev{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Project {{ form.name }}</h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#general">General</a></li>
  <li><a data-toggle="tab" href="#tasks">Tasks</a></li>
  <li><a data-toggle="tab" href="#budget">Budget</a></li>
</ul>

<div class="tab-content">

  <!-- General -->
  <div id="general" class="tab-pane fade in active">
  </br>
    {{ wtf.quick_form(form,  form_type="horizontal") }}
  </div>

  <!-- Tasks -->
  <div id="tasks" class="tab-pane fade">
  </br>
    {{ wtf.quick_form(taskForm,  form_type="horizontal") }}
  </div>

  <!-- Budget -->
  <div id="budget" class="tab-pane fade">
  </br>
    {{ wtf.quick_form(budgetForm,  form_type="horizontal") }}
  </div>

</div>
<a href="/project/{{ project.id }}" class="btn btn-danger pull-right" role="button">cancel</a>

{% endblock %}
