{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>New {{ header }}</h1>
</div>

{{ wtf.quick_form(contactForm,  form_type="horizontal") }}

<a href="/contacts" class="btn btn-danger pull-right" role="button">cancel</a>

{% endblock %}
