html, body, #wrapper {
  height: 100%;
  padding: 0px; }

.user-icon {
  width: 25%;
  margin: 0 auto;
  padding-bottom: 20px; }

#wrapper {
  position: relative; }

#top, #middle, #bottom {
  position: absolute; }

#top {
  height: 50px;
  width: 100%; }

#middle {
  top: 50px;
  bottom: 50px;
  width: 100%; }

#bottom {
  bottom: 0;
  height: 50px;
  width: 100%; }

.container-fluid {
  margin: 0px 15px 0px 5px;
  height: 100%; }

@media (max-width: 767px) {
  .container-fluid {
    margin-right: 30px; } }

/*# sourceMappingURL=base.css.map */
